<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
  
  <packageSourceMappings>
    <packageSource key="NuGet">
      <package pattern="ZumbiBlocks2.GameLibs" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="BepInEx">
      <package pattern="BepInEx.*" />
      <package pattern="UnityEngine.Modules" />
    </packageSource>
  </packageSourceMappings>
</configuration>
